.header {
  align-items: center;
  justify-content: space-between;
  display: flex;
  top: 0;
  max-width: 75rem;
  position: sticky;   
   margin-bottom: 1rem;
  width: 100vw;
   box-sizing: border-box;   
}
.header--links {
  cursor: pointer;
  padding: 0.5px;
  margin-top: 15px;
  margin-bottom: 0.5rem; 
}
.header--link {
  margin-right: 1rem;
}
.header--link:hover {
  color: burlywood;
  border-bottom: 1px solid burlywood;
  padding-bottom: 0.5rem;
}

